@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: black;
  padding-top: 10vh;
}

html {
  scroll-behavior: smooth;
}

nav {
  width: 100%;
  height: 10vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: black;
  /* border: 2px solid yellow; */
}

.nav-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  color: white;
  font-size: 2.4rem;
  font-weight: bold;
  letter-spacing: 2px;
}

.logo span {
  color: #077b32;
  text-shadow: 0 0 10px #077b32;
}

.hamburg,
.cancel {
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 10px;
  color: white;
  display: none;
  font-size: clamp(2.5rem, 0.5rem, 5vw, 3rem);
}

.nav-container .links {
  display: flex;
}

.nav-container .links a {
  position: relative;
  font-size: 1.6em;
  color: white;
  margin: 0 20px;
  text-decoration: none;
  font-weight: 450;
  transition: 0.3s linear;
}

.nav-container .links a::before {
  position: absolute;
  content: "";
  bottom: -3px;
  left: 0;
  width: 0%;
  height: 3px;
  background-color: #077b32;
  transition: 0.2s linear;
}

.nav-container .links a:hover::before {
  width: 100%;
}

.nav-container .links a:hover {
  color: #077b32;
}

.dropdown {
  z-index: 100;
  position: absolute;
  top: 0;
  /* transform: translateY(-500px); */
  transform: translateY(-100%);
  width: 100%;
  height: auto;
  backdrop-filter: blur(4px) brightness(40%);
  box-shadow: 0 0 20px black;
  transition: 0.2s linear;
}

.dropdown.active {
  transform: translateY(0);
}

.dropdown .links a {
  display: flex;
  color: white;
  text-decoration: none;
  justify-content: center;
  padding: 15px 0;
  align-items: center;
  transition: 0.2s linear;
}

.dropdown .links a:hover {
  background-color: #077b32;
}

section {
  width: 100%;
  height: calc(100vh - 10vh);
  scroll-margin-top: 10vh;
}

#home {
  /* border: 5px solid purple; */
}

.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* border: 5px solid green; */
}

.main-container .image {
  width: 500px;
  height: 80vh;
  border-radius: 100%;
  overflow: hidden;
  box-shadow: 0 0 50px #077b32;
}

.main-container .image img {
  width: 100%;
}

.main-container .image:hover {
  animation: animate 1.5s ease-in-out infinite;
}

@keyframes animate {
  0% {
    scale: 1;
  }

  50% {
    scale: 1.05;
  }

  100% {
    scale: 1;
  }
}

.main-container .content {
  color: white;
  width: 40%;
  min-height: 100px;
}

.content h1 {
  font-size: clamp(1rem, 1rem + 5vw, 3.2rem);
  margin: 12px 0px;
}

.content h1 .breakline {
  display: block;
}
.content h1 .name {
  color: #077b32;
  text-shadow: 0 0 10px #077b32;
}

.content .typewriter {
  font-size: clamp(1rem, 1rem + 5vw, 3.5rem);
  font-weight: 600;
}

.content .typewriter-text {
  color: #077b32;
  text-shadow: 0 0 10px #077b32;
}

.social-links i {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  background-color: transparent;
  border: 0.2rem solid #077b32;
  border-radius: 50%;
  color: #077b32;
  margin: 15px 15px;
  font-size: 1.5rem;
  transition: 0.2s linear;
}

.social-links i:hover {
  scale: 1.3;
  color: black;
  background-color: #077b32;
  filter: drop-shadow(0 0 10px #077b32);
}

.content .butn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  text-decoration: none;

  width: 27%;
  height: 6vh;
  margin: 35px 10px;
  background-color: #077b32;
  color: white;
  font-size: 150%;
  font-weight: 500;
  border-radius: 40px;
  transition: 0.2s linear;
}

.content .butn:hover {
  gap: 10px;
  scale: 1.1;
  color: #077b32;
  border: 2px solid #077b32;
  background-color: transparent;
  font-weight: 700;
  box-shadow: 0 0 40px #077b32;
}

@media (max-width: 884px) {
  nav .logo {
    position: absolute;
    top: 16px;
    left: 15px;
    font-size: 1.5rem;
  }

  .main-container {
    display: flex;
    flex-direction: column;
  }

  .nav-container .links {
    display: none;
  }

  .hamburg,
  .cancel {
    display: block;
    font-size: 2.4rem;
  }

  .main-container .content {
    width: 80%;
  }

  .social-links i {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
  }

  .main-container .image {
    z-index: -1;
    width: 50%;
    height: 60%;
  }
}

@media (max-width: 440px) {
  .main-container .image {
    width: 50%;
    height: 60%;
    margin-bottom: 30px;
  }

  .main-container .content {
    width: 80%;
  }

  .main-container .butn {
    margin-top: 15px;
  }
}

#about {
  color: white;
  /* border: 2px solid white; */
}

.about-container h1 {
  font-size: 3.4rem;
  text-align: center;
  letter-spacing: 1px;
  position: relative;
  top: 30px;
}

.aboutBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6vh;
  margin-top: 11vh;
  /* border: 2px solid red; */
}

.about-container span {
  color: #077b32;
}

.abtImg {
  background-color: whitesmoke;
  width: 33%;
  border-radius: 5%;
  overflow: hidden;
  box-shadow: 0 0 50px #077b32;
}

.abtImg img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.abtInfo {
  width: 39%;
  height: 40vh;
}

.abtInfo h2 {
  font-size: 2.3rem;
  color: white;
}

.abtInfo h3 {
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
  margin-bottom: 20px;
}

.abtInfo .intro {
  font-size: 1.3rem;
  color: white;
  margin-bottom: 20px;
  line-height: 1.6;
}

.abtInfo .contact-info {
  font-size: 1.3rem;
  display: flex;
  gap: 25px;
  margin-bottom: 4rem;
}

.about-button a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 25%;
  height: 7vh;
  font-size: 1.7rem;
  background: #077b32;
  color: white;
  border-radius: 10px;
  text-decoration: none;
  transition: 0.3s;
}

.about-button i {
  font-size: 15px;
  position: relative;
  top: 1px;
}

.about-button a:hover {
  gap: 10px;
  scale: 1.1;
  color: #077b32;
  border: 2px solid #077b32;
  background-color: transparent;
  font-weight: 700;
  box-shadow: 0 0 40px #077b32;
}

#skills {
  color: white;
  /* border: 2px dotted white; */
}

#skills h1 {
  font-size: 3.4rem;
  text-align: center;
  letter-spacing: 1px;
  position: relative;
  top: 30px;
}

.skills-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
}

.skills-container .skills-wrapper {
  padding: 30px;
  width: 73%;
  height: auto;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.08); /* transparent */
  backdrop-filter: blur(12px);
}

.skills-grid {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  */
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
}

.skill-box {
  background-color: #077b32;
  padding: 35px;
  height: auto;
  text-align: center;
  border-radius: 15px;
  transition: 0.3s;
  margin: 12px;
  color: white;
  border: 2px solid transparent;
}

.skill-box i {
  font-size: 45px;
  color: white;
  margin-bottom: 10px;
}

.skill-box p {
  font-size: 2rem;
}

.skill-box:hover {
  color: #077b32;
  border: 2px solid #077b32;
  background-color: transparent;
  box-shadow: 0 0 40px #077b32;
}

@media (max-width: 768px) {
  .skills-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 480px) {
  .skills-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Education section */
#education {
  color: white;
}

#education h1 {
  font-size: 3.4rem;
  text-align: center;
  letter-spacing: 1px;
  position: relative;
  top: 30px;
}

.edu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4vh;
  margin-top: 90px;
}

.edu-card {
  width: 70%;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(10px);
  padding: 25px;
  border-radius: 15px;
  border-left: 5px solid #077b32;
  transition: 0.3s;
}

.edu-card h2 {
  font-size: 2.3rem;
}

.edu-card h3 {
  font-size: 1.8rem;
  color: #077b32;
  margin: 5px 0;
}

.edu-card p {
  margin-top: 10px;
  font-size: 1.3rem;
}

.edu-card:hover {
  scale: 1.02;
  border: 2px solid #077b32;
  background-color: transparent;
  box-shadow: 0 0 40px #077b32;
}

/* Work section */

#work {
  color: white;
}

#work h1 {
  font-size: 3.4rem;
  text-align: center;
}

/* GRID */
.work-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  width: 80%;
  margin: 50px auto;
}

/* CARD */
.work-card {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  aspect-ratio: 1 / 1; /* square */
}

/* IMAGE */
.work-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* OVERLAY */
.work-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 75%;  /* 👈 tera 75% */
  
  background: rgba(0, 0, 0, 0.85);
  backdrop-filter: blur(10px);

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 20px;

  transform: translateY(25%); /* 👈 initial niche */
  transition: 0.5s ease; /* smooth */
  text-align: center;
}

/* HOVER */
.work-card:hover .work-overlay {
  transform: translateY(0);
}

/* TEXT */
.work-overlay h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.work-overlay p {
  font-size: 1.1rem;
  margin-bottom: 15px;
  color: #077b32;
}

/* BUTTONS */
.buttons {
  display: flex;
  gap: 10px;
}

.buttons a {
  padding: 8px 15px;
  background: #077b32;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-size: 0.9rem;
  transition: 0.3s;
}

.buttons a:hover {
  background: transparent;
  border: 1px solid #077b32;
  color: #077b32;
}